.main-film-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .film-container{
        cursor: pointer;
        width: 300px;
        position: relative;
        .film-roll-over{
            display: none;
            position: absolute;
            background-color:rgba(0, 0, 0, 0.6784313725490196);
            width: 100%;
            height: 100%;
            color: white;
        }

    }
}