.landing-header{
    text-align: center;
    margin: 20px 0px 20px 0px;
    h3.landing-title {
        font-size: 2em;
    }
    p.landing-byline {
        color: #343a40;
        font-weight: 600;
    }
}

.latest-carousel{
    display: flex;
}

.film-poster-hover{
    max-width: 200%;
}