.landing-header {
  text-align: center;
  margin: 20px 0px 20px 0px; }
  .landing-header h3.landing-title {
    font-size: 2em; }
  .landing-header p.landing-byline {
    color: #343a40;
    font-weight: 600; }

.latest-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 50px; }
  .latest-carousel .film-carousel-container {
    cursor: pointer; }

.latest-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .latest-news-container .news-container {
    width: 25%; }
  .latest-news-container .news-container:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 5px 50px -10px red;
    box-shadow: 4px 5px 50px -10px red; }

.latest-lists-container .latest-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .latest-lists-container .latest-lists p.page-sub-headings {
    text-align: center;
    margin-bottom: 0px; }
  .latest-lists-container .latest-lists .list-container-header {
    margin: 20px;
    padding: 5px;
    background-color: #343a40;
    -webkit-box-shadow: 4px 2px 20px 0px black;
    box-shadow: 4px 2px 20px 0px black; }
  .latest-lists-container .latest-lists ul.main-media-list {
    list-style: none; }
    .latest-lists-container .latest-lists ul.main-media-list li {
      padding: 2px; }
  .latest-lists-container .latest-lists .film-list {
    width: 50%; }
  .latest-lists-container .latest-lists .tv-list {
    width: 50%; }

@media only screen and (max-width: 420px) {
  .latest-carousel {
    height: unset; } }

@media only screen and (max-width: 768px) {
  .film-list {
    width: 100% !important; }
  .tv-list {
    width: 100% !important; } }
