.landing-header {
  text-align: center;
  margin: 20px 0px 20px 0px; }
  .landing-header h3.landing-title {
    font-size: 2em; }
  .landing-header p.landing-byline {
    color: #343a40;
    font-weight: 600; }

.latest-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 50px; }
  .latest-carousel .film-carousel-container {
    cursor: pointer; }

.latest-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .latest-news-container .news-container:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 5px 50px -10px red;
    box-shadow: 4px 5px 50px -10px red; }

@media only screen and (max-width: 420px) {
  .latest-carousel {
    height: unset; } }

@media only screen and (max-width: 768px) {
  .film-list {
    width: 100% !important; }
  .tv-list {
    width: 100% !important; } }
