.landing-header{
    text-align: center;
    margin: 20px 0px 20px 0px;
    h3.landing-title {
        font-size: 2em;
    }
    p.landing-byline {
        color: #343a40;
        font-weight: 600;
    }
}

.latest-carousel{
    position: relative;
    display: flex;
    height: 300px;
    margin-top: 50px;
    .film-carousel-container{
        cursor: pointer;
    }
}
.latest-lists-container{
    .latest-lists {
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-around;
        margin-top: 50px;
        p.page-sub-headings{
            text-align: center;
        }
        .film-list{
            width: 50%;
        }
        .tv-list{
            width: 50%;
        }
    }
}

