* {
  font-family: "Roboto", sans-serif; }

a {
  color: #a2a392; }

a:hover {
  text-decoration: none;
  color: #d1d2c9; }

html, body {
  height: 100%; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.footer {
  width: 100%;
  height: 70px;
  background-color: #343a40;
  color: gray;
  padding: 10px;
  margin-top: 30px; }

.page-sub-headings {
  color: gray;
  font-weight: 600; }

.page-sub-headings:hover {
  color: #b3b3b3; }

.page-container, .search-container {
  padding: 20px;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 4px 5px 50px -10px black;
  box-shadow: 4px 5px 50px -10px black; }

.search-form .search-icon {
  color: #9a9da0; }

.search-form input {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  width: 100px; }

.latest-lists-container .latest-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .latest-lists-container .latest-lists p.page-sub-headings {
    text-align: center;
    margin-bottom: 0px; }
  .latest-lists-container .latest-lists ul.main-media-list {
    list-style: none; }
    .latest-lists-container .latest-lists ul.main-media-list li {
      padding: 2px; }
  .latest-lists-container .latest-lists .film-list {
    width: 50%; }
  .latest-lists-container .latest-lists .tv-list {
    width: 50%; }

.list-container-header {
  margin: 20px;
  padding: 5px;
  background-color: #343a40;
  -webkit-box-shadow: 4px 2px 20px 0px black;
  box-shadow: 4px 2px 20px 0px black; }

.film-search {
  width: 90%;
  margin: auto;
  margin-top: 20px; }

.search-container {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }
  .search-container .search-category {
    width: 10%;
    font-size: 40px;
    padding-top: 2%; }
  .search-container .search-result {
    width: 70%; }
