.main-news-container {
  width: 80%;
  margin: auto;
  margin-top: 20px; }

.news-post-container {
  margin-bottom: 20px; }
  .news-post-container .news-post-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .news-post-container .news-post-header .news-post-date {
      padding-top: 10px; }
  .news-post-container .news-post-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .news-post-container .news-post-body .news-post-img .img-news {
      width: 150px;
      height: 150px; }
    .news-post-container .news-post-body .news-post-blurb {
      width: 60%;
      margin-left: 30px; }
