
.main-news-container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.news-post-container{
    margin-bottom: 20px;
    .news-post-header{
        display: flex;
        justify-content: space-between;
        .news-post-date{
            padding-top: 10px;
        }
    }
    .news-post-body{
        display: flex;
        flex-wrap: wrap;
        .news-post-img{
            .img-news{
                width: 150px;
                height: 150px;
            }
        }
        .news-post-blurb{
            width: 60%;
            margin-left: 30px;
        }
    }
}