extends ../layout
block head
    link(href='/quill/quill.snow.css', rel='stylesheet')
    link(href='/css/new/add-news.css', rel='stylesheet')

block body
    h3.news-add-header Create News Form
    div.news-add-form
        form#addNewsForm(action = '/news/add', method='POST' enctype='multipart/form-data')
            input.form-control#newBody(name='newsBody' type='hidden') 
            div.form-group
                label(for = 'title') Title
                input.form-control#newsTitle(name = 'title', placeholder="Some great news")
            div.row
                div.form-group.col
                    label(for = 'publishDate') Publish Date
                    input.form-control#newsPublishDate(type="date", name = 'publishDate', value = new Date(Date.now()).toLocaleString())
                div.form-check.col.news-draft
                    input.form-check-input#newsDraft(name = 'draft', type="checkbox", value="draft", checked)
                    label.form-check-label(for = 'draft') Draft                
            div.form-group
                label(for = 'tags') Tags
                input.form-control#newsTags(name = 'tags', placeholder="news; information; awesome")
            div.row
                div.form-group.col
                    label(for = 'coverimgselect') Select Cover Image
                    select.form-control(name = 'selectFile')
                        option(value = '') -- Upload --
                        each img in imgFileList
                            option(value = img) #{img}
                div.form-group.col
                    label(for = 'coverimg') Cover Image
                    input.form-control#newsTitle(type='file', name='imageupload')   
            label(for = 'newsBody') News Body
            div#editor-container

            button.btn.btn-outline-success Add


block end
    script(src="/quill/quill.js")   
    script(src="/js/news/add-news.js")
