extends  ../layout

block head
    link(href='/quill/quill.snow.css', rel='stylesheet')    
    link(href='/css/new/detail-news.css', rel='stylesheet')    

block body
    - const post = newsContent.body.substr(1, newsContent.body.length);
    input.blog-content(type="hidden" value=newsContent.body)
    div.news-detail-body
        div.news-header
            div.news-title
                h3.main-title #{newsContent.title}
            div.news-sub-header
                div.news-date
                    p #{moment(newsContent.publishDate).format("ddd MMM YYYY")}
                div.news-author
                    p #{newsContent.author}
        div#quillContainer

block end
    script(src="/quill/quill.js")
    script(src="/js/shared/quill-display.js")